/target
/pod-babashka-hsqldb
/pod-babashka-postgresql
/.cpcache
/.clj-kondo/.cache
/.lsp/.cache
.nrepl-port
.lsp
output.calva-repl
.lein-failures
/pod-babashka-mysql
pod-babashka-oracle
pod-babashka-db2
.claude
# DB2 connection config (contains credentials - do not commit)
test/pod/babashka/db2_config.edn
