---

version: "v-{build}"

image: Visual Studio 2017

clone_folder: C:\projects\babashka

environment:
  GRAALVM_HOME: C:\projects\babashka\graalvm\graalvm-ce-java11-21.1.0
  BABASHKA_XMX: "-J-Xmx5g"

cache:
  - '%USERPROFILE%\.m2 -> deps.edn'
  - '%USERPROFILE%\.gitlibs -> deps.edn'
  - 'graalvm -> appveyor.yml'

clone_script:
- ps: >-
    if(-not $env:APPVEYOR_PULL_REQUEST_NUMBER) {
      git clone -q --branch=$env:APPVEYOR_REPO_BRANCH https://github.com/$env:APPVEYOR_REPO_NAME.git $env:APPVEYOR_BUILD_FOLDER
      cd $env:APPVEYOR_BUILD_FOLDER
      git checkout -qf $env:APPVEYOR_REPO_COMMIT
    } else {
      git clone -q https://github.com/$env:APPVEYOR_REPO_NAME.git $env:APPVEYOR_BUILD_FOLDER
      cd $env:APPVEYOR_BUILD_FOLDER
      git fetch -q origin +refs/pull/$env:APPVEYOR_PULL_REQUEST_NUMBER/merge:
      git checkout -qf FETCH_HEAD
    }
- cmd: git submodule update --init --recursive

before_build:

- cmd: >-
    powershell -Command "(New-Object Net.WebClient).DownloadFile('https://raw.githubusercontent.com/technomancy/leiningen/stable/bin/lein.bat', 'lein.bat')"

    call lein self-install

build_script:

- cmd: >-
    call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"

    powershell -Command "if (Test-Path('graalvm')) { return } else { (New-Object Net.WebClient).DownloadFile('https://github.com/graalvm/graalvm-ce-builds/releases/download/vm-21.1.0/graalvm-ce-java11-windows-amd64-21.1.0.zip', 'graalvm.zip') }"

    powershell -Command "if (Test-Path('graalvm')) { return } else { Expand-Archive graalvm.zip graalvm }"

    powershell -Command "if (Test-Path('bb.exe')) { return } else { (New-Object Net.WebClient).DownloadFile('https://github.com/borkdude/babashka/releases/download/v0.4.3/babashka-0.4.3-windows-amd64.zip', 'bb.zip') }"

    powershell -Command "if (Test-Path('bb.exe')) { return } else { Expand-Archive bb.zip . }"

- cmd: >-
    set POD_DB_TYPE=mssql

    call bb script/compile.clj

    echo Creating zip archive

    set /P VERSION=< resources\POD_BABASHKA_SQL_VERSION

    set zip=pod-babashka-%POD_DB_TYPE%-%VERSION%-windows-amd64.zip

    jar -cMf %zip% pod-babashka-%POD_DB_TYPE%.exe


artifacts:
- path: pod-babashka-mssql-*-windows-amd64.zip
  name: pod-babashka-mssql
