{:paths ["script"]
 :deps {borkdude/gh-release-artifact
        #_{:local/root "../gh-release-artifact"}
        {:git/url "https://github.com/borkdude/gh-release-artifact"
         :sha "4a9a74f0e50e897c45df8cc70684360eb30fce80"}}
 :tasks {uberjar {:task (shell "lein uberjar")
                  :override-builtin true}
         graalvm {:doc "Checks GRAALVM_HOME env var"
                  :task
                  (let [env (System/getenv "GRAALVM_HOME")]
                    (assert "Set GRAALVM_HOME")
                    env)}
         native-image {:doc "Builds native image"
                       :depends [graalvm uberjar]
                       :task (do
                               (shell (str (fs/file graalvm
                                                    "bin"
                                                    (if windows?
                                                      "gu.cmd"
                                                      "gu")))
                                      "install" "native-image")
                               (shell (str (fs/file graalvm
                                                    "bin"
                                                    (if windows?
                                                      "native-image.cmd"
                                                      "native-image")))
                                      "-H:Name=jayfu"
                                      "-jar" "jayfu.jar"
                                      "--initialize-at-build-time"
                                      "--no-fallback"
                                      "--no-server"))}
         release-artifact babashka.release-artifact/release
         }}
