{:deps {org.hsqldb/hsqldb {:mvn/version "2.5.1"}
        seancorfield/next.jdbc {:mvn/version "1.1.613"}
        nrepl/bencode {:mvn/version "1.1.0"}
        com.cognitect/transit-clj {:mvn/version "1.0.324"}}
 :aliases
 {:test
  {:extra-deps
   {cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner"
     :sha "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}
    com.opentable.components/otj-pg-embedded {:mvn/version "0.13.3"}
    babashka/babashka.pods
    {:git/url "https://github.com/babashka/babashka.pods"
     :sha "a033bccaf0024b279480f2a7ac4b446621629b73"}}
   :extra-paths ["test"]
   :main-opts ["-m" "cognitect.test-runner"]}}}
