{:deps {org.hsqldb/hsqldb {:mvn/version "2.7.1"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.847"}
        nrepl/bencode {:mvn/version "1.1.0"}
        com.cognitect/transit-clj {:mvn/version "1.0.329"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}}
 :aliases
 {:test
  {:extra-deps
   {cognitect/test-runner
    {:git/url "https://github.com/cognitect-labs/test-runner"
     :sha "7284cda41fb9edc0f3bc6b6185cfb7138fc8a023"}
    ch.vorburger.mariaDB4j/mariaDB4j {:mvn/version "2.6.0"}
    io.zonky.test/embedded-postgres {:mvn/version "2.0.1"}
    babashka/babashka.pods
    #_{:local/root "../babashka/pods"}
    {:git/url "https://github.com/babashka/babashka.pods"
     :git/sha "47e55fe5e728578ff4dbf7d2a2caf00efea87b1e"}}
   :extra-paths ["test"]
   :main-opts ["-m" "cognitect.test-runner"]}
  :mysql {:extra-deps {com.mysql/mysql-connector-j {:mvn/version "9.2.0"}}}
  :duckdb {:extra-deps {org.duckdb/duckdb_jdbc {:mvn/version "0.10.0"}}}
  :postgresql {:extra-deps {org.postgresql/postgresql {:mvn/version "42.7.5"}}}
  :oracle {:extra-deps {io.helidon.integrations.db/ojdbc {:mvn/version "2.3.0"}}}
  :mssql {:extra-deps {com.microsoft.sqlserver/mssql-jdbc {:mvn/version "9.2.0.jre11"}}}}}
