{:deps {org.hsqldb/hsqldb {:mvn/version "2.6.0"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.659"}
        nrepl/bencode {:mvn/version "1.1.0"}
        com.cognitect/transit-clj {:mvn/version "1.0.324"}
        cheshire/cheshire {:mvn/version "5.10.0"}}
 :aliases
 {:test
  {:extra-deps
   {cognitect/test-runner
    {:git/url "https://github.com/borkdude/test-runner"
     :sha "680cedab963d38ad677d12efa6f7e61f544b2441"}
    ch.vorburger.mariaDB4j/mariaDB4j {:mvn/version "2.4.0"}
    com.opentable.components/otj-pg-embedded {:mvn/version "0.13.3"}
    babashka/babashka.pods
    #_{:local/root "../pods"}
    {:git/url "https://github.com/babashka/babashka.pods"
     :sha "de4c3610c9ef3879370d01b7202a9f3a9d056f6e"}}
   :extra-paths ["test"]
   :main-opts ["-m" "cognitect.test-runner"]}
  :mysql {:extra-deps {mysql/mysql-connector-java {:mvn/version "8.0.25"}}}}}
